{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel='icon' type='image/png' href="{% static 'images/icons/bsearch.ico' %}">
    <!--jquery库-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--自定义库-->
    <link rel="stylesheet" href="{% static 'css/frame.css' %}">
    <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
</head>
<!--导入futioncharts-->
<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.charts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.zune.js' %}"></script>
<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<style>
tr:hover{cursor:pointer}
#browser_head{}
#browser_content{margin-top:10px;}
#ul_browser{width:100%; height:auto; border:1px solid #CCC; list-style:none; padding:0;}
#ul_browser li{ width:100%; cursor:pointer; border:1px solid transparent; text-align:left; padding-left:22px; background-image:url({% static "images/directory-small.png" %}); background-size:auto 100%; background-repeat:no-repeat;}
#ul_browser li:hover{ cursor:pointer; border:1px solid #66a7e8; background:#e5f3fb; background-image:url({% static "images/directory-small.png" %}); background-size:auto 100%; background-repeat:no-repeat;}
.highlight{ border:1px solid #66a7e8; background:#d1e8ff; }
</style>

<!--换算-->
<script>
    function transform(num) {
        if (num < 1024) {
            return num + "B";
        } else if (num < 1024 * 1024) {
            str = (num / 1024).toFixed(2);
            return str + "KB";
        } else if (num < 1024 * 1024 * 1024) {
            str = (num / 1024 / 1024).toFixed(2);
            return str + "MB";
        } else if (num < 1024 * 1024 * 1024 * 1024) {
            str = (num / 1024 / 1024 / 1024).toFixed(2);
            return str + "GB";
        } else if (num < 1024 * 1024 * 1024 * 1024 * 1024) {
            str = (num / 1024 / 1024 / 1024 / 1024).toFixed(2);
            return str + "TB";
        }
    }

</script>
<!--websocket-->
<script language="javascript" type="text/javascript">
    var compareData = null;  // 这个是用来比较前后两次是否相同，不相同在更新

    var lastPage = 0; // 这个记录了当前获取的文件的页数
    var pages = -1; // 这个记录了当前页面的页码数目
    var num_bt = 0;  // 这个记录显示出来的分页按钮数目，当等于5的时候就没有啥区别了
    var currentPage = 1;  // 当前的活动页
    var firstPageNum = 1;  // 当前显示的第一页
    result_detail = null;
    /*----------------分页机制---------------------*/
    function changePage(ClickPage) { // clickpage表示点击的分页是第几个
        // 计算当前应该展示的页数和页面应该是哪一页
        var flag = 1;
        if(ClickPage == -1){ // 点击的是前一页， 这里因为一开始的时候，前一页已经禁用了，所以不会出现 <- 1
            if(currentPage == 1){
                flag = 0;
            }else{
                currentPage = currentPage - 1;
            }
        }else if(ClickPage == 11){ // 点击的是下一页
            if(currentPage == lastPage){
                flag = 0;
            }else{
                currentPage = currentPage + 1;
            }
        }else{  // 获取按钮上的号码
            a = parseInt($("#page"+ClickPage).text());  
            if(a != currentPage){
                currentPage = a;
            }
        }
        // 刷新页面
        if (flag == 1) {
            $("#table_info").html('');
            var currenTableInfo = result_detail.slice((currentPage - 1) * 10, currentPage * 10 - 1);
            $.each(currenTableInfo, function (index, item) {
                var li_code = "<tr><td>" + item["name"] + "</td><td>" + item["fileNumTotal"] + "</td><td>" + transform(item["fileSizeTotal"]) + "</td><td>" + item["timeCreated"] + "</td><td>" + item["timeFinished"] + "</td><td>" + item["timeWasted"] + "</td><td>" + item["rate"] + "</td></tr>";
                $("#table_info").append(li_code);
            });
            
            // 对页面进行操作
            if(currentPage<=5 || ((currentPage <= 10) && lastPage <= 10)){ // 依次展开
                for(var i = 1; i <= pages; i++){
                    $("#page"+i).html(i);
                    $("#p"+i).removeClass("active");
                }
                $("#p"+currentPage).addClass("active");
            }else{
                if((lastPage-currentPage) < 5){ // 如果当前页处于最后五页
                    for(var i = 10; i >= 1; i--){
                        $("#page"+i).html(lastPage+i-10);
                        $("#p"+i).removeClass("active");
                    }
                    $("#p"+(10-lastPage+currentPage)).addClass("active");
                }else{  // 将current页面放在第五个位置
                    for(var i = 1; i <= 10; i++){
                        $("#page"+i).html(currentPage-5+i);
                        $("#p"+i).removeClass("active");
                    }
                    $("#p"+5).addClass("active");
                }
            }
            console.log(currentPage, lastPage);
            // 对前一页和下一页进行操作
            if(currentPage == 1){
                $("#p0").addClass("disabled");
            }else{
                $("#p0").removeClass("disabled");
            }
            if(currentPage == lastPage){
                $("#p11").addClass("disabled");
            }else{
                $("#p11").removeClass("disabled");
            }
        }

    }
    function WebSocketSearch() {
        if ("WebSocket" in window) {
            var wsUri = "ws://" + window.location.host + "/indexCreate/";
            //var wsUri = 'ws://localhost:3369';
            socket = new WebSocket(wsUri);
            socket.onmessage = function (evt) {
                console.log(evt.data);
                if (evt.data == 'Over') {
                    socket.close();
                } else {
                    var format_result = $.parseJSON(evt.data);
                    result_detail = format_result["detail"].finished; // 取出已经完成创建的detail信
                    var rate_data = [];  // 用来修改图表

                    // 对分页操作
                    lastPage = Math.ceil(result_detail.length/10);
                    if(lastPage > pages){
                            if(pages >= 10){ // 不刷新页面
                                var x = 1
                            }else if(pages < 10){
                                if(lastPage > 10){
                                    pages = 10;
                                }else{
                                    pages = lastPage;
                                }
                                $("#pagination").html("");
                                if(currentPage==1){  // 当页面处于第一页的时候将前一页disabled
                                    var pre_code = "<li id='p0' class='disabled'><a href='#' id='pre' onclick='changePage(-1)'>&laquo;</a></li>"; // 前一页 
                                }else{
                                    var pre_code = "<li id='p0'><a href='#' id='pre' onclick='changePage(-1)'>&laquo;</a></li>"; // 前一页
                                }
                                $("#pagination").append(pre_code)
                                // 中间的按钮
                                for(var i = 1; i <= pages; i++){
                                    if(currentPage==i){
                                        var li_code = "<li id='p"+i+"' class='active'><a href='#' onclick='changePage("+i+")' id='page"+i+"'>"+i+"</a></li>";
                                    }else{
                                        var li_code = "<li id='p"+i+"'><a href='#' onclick='changePage("+i+")' id='page"+i+"'>"+i+"</a></li>";
                                    }
                                    $("#pagination").append(li_code);
                                }
                                var post_code = "<li id='p11'><a href='#' id='post' onclick='changePage(11)'>&raquo;</a></li>"; // 后一页
                                $("#pagination").append(post_code);
                            }
                        }

                    // 填写下方的表格
                    // 注意这里如果 前后两次的name相同 那么不更新
                    var currenTableInfo = result_detail.slice((currentPage - 1) * 10, currentPage * 10); // 初始化提取前20个文件
                    if(compareData==null){
                        compareData = currenTableInfo;
                    }else if(compareData[0]['name'] == currenTableInfo[0]['name']){  // 如果页面没有新数据加载进来 其实并没有不要进行更新
                        return;
                    }
                    $("#table_info").html('');
                    $.each(currenTableInfo, function (index, item) {
                        // if (index < 15) {
                        //     rate_data.unshift({ "label": item["name"], "value": item["rate"] });
                        // }
                        var li_code = "<tr><td>" + item["name"] + "</td><td>" + item["fileNumTotal"] + "</td><td>" + transform(item["fileSizeTotal"]) + "</td><td>" + item["timeCreated"] + "</td><td>" + item["timeFinished"] + "</td><td>" + item["timeWasted"] + "</td><td>" + item["rate"] + "MB/s</td></tr>";
                        $("#table_info").append(li_code);
                    });

                    // 修改图标, 增加新的平均速度
                    // 每次只提取最近的15个文件的平均速度
                    $.each(result_detail, function (index, item) {
                        if (index < 15) {
                            rate_data.unshift({ "label": item["name"], "value": item["rate"] });
                        }
                    });
                    var sl_rate = getChartFromId('AverageRate');
                    var current_data = sl_rate.getChartData("json"); // 获取当前的数据
                    current_data.data = rate_data;
                    sl_rate.setChartData(current_data, "json");
                    $("#mytable").tablesorter({ headers: { 2: { sorter: "size" }, 6:{sorter:"speed"} } }); 
                }
            }
            if (socket.readyState == WebSocket.OPEN) socket.onmessage();
            socket.onopen = function (evt) {
                socket.send("createInformation");
            };
            socket.onclose = function (evt) {
                socket.close();
            };
        } else {
            // 浏览器不支持 WebSocket
            alert("您的浏览器不支持 WebSocket!");
        }
    }

    $(document).ready(function () {
        WebSocketSearch();
    });

</script>
<!--bar-->
<script>
    FusionCharts.ready(function () {
        var revenueChart = new FusionCharts({
            id: 'AverageRate',
            type: 'column2d',
            renderAt: 'chart-1',
            width: '100%',
            height: '400',
            dataFormat: 'json',
            dataSource: {
                "chart": {
                    "caption": "最近的15个文件",
                    "subCaption": "创建速度",
                    "xAxisName": "文件序号",
                    "yAxisName": "平均速度",
                    "numberPrefix": "",
                    "paletteColors": "#0075c2",
                    "bgColor": "#ffffff",
                    "borderAlpha": "20",
                    "canvasBorderAlpha": "0",
                    "usePlotGradientColor": "0",
                    "plotBorderAlpha": "10",
                    "placevaluesInside": "1",
                    "rotatevalues": "1",
                    "valueFontColor": "#ffffff",
                    "showXAxisLine": "1",
                    "xAxisLineColor": "#999999",
                    "divlineColor": "#999999",
                    "divLineIsDashed": "1",
                    "showAlternateHGridColor": "0",
                    "subcaptionFontBold": "0",
                    "subcaptionFontSize": "14",
                    "animation": "0",
                    "numdisplaysets": "15", // 展示的bar的数目
                },
                "data": [

                ],
                "trendlines": [
                    {
                        "line": [
                            {
                                "startvalue": "7000000",
                                "color": "#1aaf5d",
                                "valueOnRight": "1",
                                "displayvalue": "历史平均创建速度"
                            }
                        ]
                    }
                ]
            }
        }).render();
    });

</script>
<script type="text/javascript">
function selectItem(which){
    $(which).parent().children("li").removeClass("highlight");
    $(which).addClass("highlight");
    console.log($(which).html());
    if($(which).html()==".."){
        $("#btn_confirm").attr("disabled", true);
    }else{
        $("#btn_confirm").attr("disabled", false);
    }
}

function getTotalPath(){
    var current_path = $("#currentPath").html();
    var current_dir = $("li.highlight").html();
    totalPath = current_path+'/'+current_dir;

    console.log(totalPath);
    $("#directory").val(totalPath);
    $("#form_addition").submit();
}

function showDirectoryInfo(currentPath=""){
    $.post("/api_getDirectoryBrowserInfo/", {"currentPath":currentPath}, function(data){
        console.log(data);
        var browser_info = $.parseJSON(data);
        var current_path = browser_info["dir_current"];
        var directory_list = browser_info["dir_list"];

        $("#currentPath").html(current_path);
        $("#ul_browser").html("");
        $.each(directory_list, function(index,item){
            var li_code = '<li onclick="selectItem(this);" ondblclick="showDirectoryInfo(\''+item["link"]+'\');">'+item["name"]+'</li>';
            $("#ul_browser").append(li_code);
        });
    });
};

$(document).ready(function(){
    showDirectoryInfo();
});
</script>





<body>
    <!--导航栏部分-->
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                    <image src="{% static 'images/bsearch-white.png' %}">
                    <ul class="user-menu">
                        <li class="dropdown pull-right">
                            <a href="/dashboard/creating" style="padding-right: 30px;">正在创建</a>
                            <a href="#" style="padding-right: 10px;" data-toggle="modal" data-target="#AddModal">添加索引</a>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-right: 30px;">
                                <svg class="glyph stroked male-user">
                                    <use xlink:href="#stroked-male-user"></use>
                                </svg> 用户 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <!--
                                <li>
                                    <a href="#">
                                        <svg class="glyph stroked male-user">
                                            <use xlink:href="#stroked-male-user"></use>
                                        </svg> 设置</a>
                                </li>
                                -->
                                <li>
                                    <a href="/logout/">
                                        <svg class="glyph stroked gear">
                                            <use xlink:href="#stroked-gear"></use>
                                        </svg> 退出</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg class="glyph stroked cancel">
                                            <use xlink:href="#stroked-cancel"></use>
                                        </svg> 帮助</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" style="padding-top: 10%" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加目录
                    </h4>
                </div>
                <form id="form_addition" name="form_addition" action="/directoryAddition/" method="POST">
                    <div class="modal-body">
                        <div id="browser_head">
                            <span style="width: 20%;">当前目录：</span>
                            <span id="currentPath" style="width:80%;"></span>
                        </div>
                        <div id="browser_content">
                            <center>
                            <ul id="ul_browser">
                                <li>a</li>
                                <li>b</li>
                            </ul>
                            </center>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" style="width: 80%;font-size: inherit" name="directory" id="directory" />
                        <button id="btn_confirm" onclick="getTotalPath();" disabled="disabled" type="button" class="btn btn-primary">
                        添加
                    </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
        </div>
        <div class="page-content-wrapper">
            <!--图表部分-->
            <div class="portlet-mid light bordered">
                <div class="portlet-title">
                    <div class="caption">平均创建速度</div>
                </div>
                <div class="portlet-body" id="chart1">
                    <div id="chart-1">FusionCharts will render here</div>
                </div>
            </div>

            <!--表格部分-->
            <div>
                <div class="portlet-mid light bordered">
                    <div class="portlet-title">
                        <div class="caption">表格</div>
                    </div>
                    <div class="portlet-body" id="chart1">
                        <table class="table table-bordered table-hover" id="mytable">
                            <caption>创建信息表格</caption>
                            <thead>
                                <tr>
                                    <th onselectstart="return false;">目录</th>
                                    <th onselectstart="return false;">文件数目</th>
                                    <th onselectstart="return false;">大小</th>
                                    <th onselectstart="return false;">创建时间</th>
                                    <th onselectstart="return false;">完成时间</th>
                                    <th onselectstart="return false;">总计用时</th>
                                    <th onselectstart="return false;">平均速度</th>
                                </tr>
                            </thead>
                            <tbody id="table_info">

                            </tbody>
                        </table>
                        <!--分页-->
                        <center>
                        <ul class="pagination" id="pagination">

                        </ul>
                        </center>
                    </div>
                </div>
            </div>
        </div>
<!--表格排序-->
<script type="text/javascript">
    $.tablesorter.addParser({
        id: "size",
        is: function (s) {
            return false;
        },
        format: function (s) {
            var unit = (s.substring(s.length - 2, s.length));
            var number = parseFloat(s.substring(0, s.length - 2));
            if (unit == "KB"){
                return number;
            }else if (unit == "MB") {
                return number * 1024;
            } else if (unit == "GB") {
                return number * 1024 * 1024;
            }
        },
        type: "numeric"
    });

    $.tablesorter.addParser({
        id: "speed",
        is: function (s) {
            return false;
        },
        format: function (s) {
            var unit = (s.substring(s.length - 4, s.length));
            var number = parseFloat(s.substring(0, s.length - 4));
            return number;
        },
        type: "numeric"
    });
    //$("#mytable").tablesorter({ headers: { 1: { sorter: "size" }} }); 
</script>
</body>

</html>