asgi-redis==1.0.0
asgiref==1.0.0
autobahn==0.17.2
channels==0.17.3
daphne==0.15.0
Django==1.9.1
django-crontab==0.7.1
django-redis==4.7.0
msgpack-python==0.4.8
MySQL-python==1.2.5
redis==2.10.5
six==1.10.0
Twisted==19.2.1
txaio==2.6.1
uWSGI==2.0.14
zope.interface==4.3.3
numpy==1.13.1
requests==2.22.0
